table{
    width:100%;
    justify-content: left;
}

.boton{
    margin-top: 10px;
    margin-left:3px;
}
.tabla-contenido th,
.tabla-contenido td {
  text-align: center;
  vertical-align: middle;
}
.titulos{
     text-align: center;
  vertical-align: middle;
}
.botones{
  width:10%;
  margin-top: 3px;
  margin-bottom: 3px;
}
.inputId{
  width:3%;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
  margin-left: 45px;
}
.inputAux{
  width:10%;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
  margin-left: 45px;
}